* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  }

.top {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small-top {
  position: relative;
  width: 100%;
  background: #212529;
  color: #fff;
}

.small-top .left-side {
  padding-left: 2%;
}

.small-top .side {
  position: absolute;
  top: 0;
  right: 0;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  width: 45%;
  background: rgba(225, 225, 225, 0.7);
  border-radius: 25px;
  margin: auto;
}

.top-content h1 {
  font-size: 3rem;
}

.typewriter h1 {
  font-size: 3rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #0466C8;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #0466C8;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #0466C8;
  }
}

nav {
  position: absolute;
  top: 60vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(225, 225, 225, 0.5);
}

nav img {
  width: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #000;
}

.second-page {
  position: relative;
}

.second-page h2 {
  font-size: 2rem;
  font-weight: normal;
}

.second-page P {
  margin-top: 2%;
}

.about {
  margin-top: 8%;
  position: relative;
}

.about hr {
  width: 12%;
  height: 0;
  margin-top: 2%;
  border: 1px solid #EBE5E5;
}

.colorful {
  color: #0466C8;
}

.content {
  margin-left: 3%;
}

.about-img {
  width: 50%;
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.discover {
  margin-top: 20%;
  margin-left: 50%;
}

.discover hr {
  width: 23%;
  height: 0;
  margin-top: 4%;
  border: 1px solid #EBE5E5;
}

.discover p {
  margin-top: 4%;
}

.svg {
  margin-top: 10%;
}

.svg-down {
  height: 30%;
  z-index: -2;
}

.menu {
  text-align: center;
  margin-top: -1%;
  height: 90vh;
  background-color: #0466C8;
  width: 100vw;
}

.menu h1 {
  color: #fff;
}

.menu .menu-hr {
  width: 8%;
  height: 0;
  border: 1px solid #EBE5E5;
  margin: 0.5% auto;
}

.menu .menu-list {
  margin-top: 4%;
  margin-left: 5%;
  text-align: start;
  line-height: 2.5rem;
}

.menu .menu-list hr {
  width: 60%;
  margin: 1% 0;
  height: 0;
  opacity: 0.45;
  border: 1px solid #EBE5E5;
}

.menu .menu-list button {
  height: 3rem;
  width: 8rem;
  background: #fff;
  color: #0466C8;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  margin-top: 3%;
  z-index: 2;
}

.menu .menu-list button:hover {
  opacity: 0.9;
}

.menu h4 {
  display: inline-block;
}

.menu .money {
  padding-left: 88%;
  color: #fff;
}

.menu .one {
  padding-left: 89.2%;
}

.menu .two {
  padding-left: 90.1%;
}

.menu .three {
  padding-left: 90.5%;
}

.team {
  height: 80vh;
  margin-top: 10%;
  text-align: center;
}

.team span {
  color: #0466C8;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
}

.card img {
  width: 10rem;
}

.card h2 {
  color: #0466C8;
  padding-top: 8%;
}

.card h4 {
  color: #A3B0B8;
}

.testinominals {
  height: 100vh;
  text-align: center;
}

.testinominals span {
  color: #0466C8;
}

.testinominals-content {
  text-align: start;
  margin-top: 4%;
  margin-left: 10%;
}

.t-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6%;
  margin-top: 4%;
}

.t-cards img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.t-cards P {
  padding-left: 15%;
  font-size: 1.5rem;
}

.t-cards span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0466C8;
  padding-top: 6rem;
}

.t-cards .side-card {
  padding: 0;
}

.t-cards .side-card-img {
  margin-left: 15%;
}

.alisha {
  padding-left: 0;
  position: absolute;
}

.twoofus {
  position: absolute;
  right: 16%;
}

.last-page {
  margin-top: 12%;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  background: #212529;
}

.contactus {
  text-align: center;
  color: #fff;
}

.contactus img {
  width: 30px;
  margin-top: 5%;
}

.contactus .ig {
  margin-left: 10%;
}

.contactus h1 {
  color: #fff;
}

.contactus h3 {
  font-weight: normal;
  line-height: 2rem;
}

.contactus h4 {
  font-weight: normal;
  line-height: 2rem;
  margin-top: 10%;
}

@media screen and (max-width: 685px) {
  .small-top .side {
    padding-left: 50%;
  }
  .top {
    height: 60vh;
  }
  .top-content {
    height: 50%;
    width: 90%;
  }
  .typewriter h1 {
    font-size: 2.5rem;
  }
  .second-page h2 {
    font-size: 1.8rem;
  }
  .about-img {
    width: 70%;
    height: 12%;
    right: 2%;
    top: 3%;
  }
  .paragraph {
    width: 60%;
  }
  .menu {
    height: 70vh;
  }
  .menu .money {
    padding-left: 60%;
    color: #fff;
  }
  .menu .one {
    padding-left: 65%;
  }
  .menu .two {
    padding-left: 68%;
  }
  .menu .three {
    padding-left: 69%;
  }
  .menu .button {
    margin-top: 3%;
  }
  .svg-down {
    margin-top: 5%;
    z-index: -2;
  }
  .team {
    height: 50vh;
  }
  .team .cards {
    overflow-x: scroll;
  }
  .team .card {
    margin-left: 8%;
  }
  .testinominals {
    margin-top: 10%;
  }
  .testinominals-content {
    margin-left: 2%;
    width: 100vw;
  }
  .t-cards {
    margin-bottom: 5%;
  }
  .t-cards img {
    width: 100px;
    height: 100px;
  }
  .t-cards p {
    font-size: 1.2rem;
  }
  iframe {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: 100vw;
  }
  .top-content {
    height: 40%;
  }
  .top {
    height: 50vh;
  }
  .second-page h2 {
    font-size: 1.8rem;
  }
  .about-img {
    width: 70%;
    height: 12%;
    right: 2%;
    top: 3%;
  }
  .paragraph {
    width: 60%;
  }
  .menu {
    height: 72vh;
  }
  .menu .money {
    padding-left: 60%;
    color: #fff;
  }
  .menu .one {
    padding-left: 65%;
  }
  .menu .two {
    padding-left: 68%;
  }
  .menu .three {
    padding-left: 69%;
  }
  .menu .button {
    margin-top: 3%;
  }
  .team {
    height: 50vh;
  }
  .team .cards {
    overflow-x: scroll;
  }
  .team .card {
    margin-left: 8%;
  }
  .testinominals {
    margin-top: 10%;
  }
  .testinominals-content {
    margin-left: 2%;
    width: 100vw;
  }
  .t-cards {
    margin-bottom: 20%;
  }
  .t-cards img {
    width: 100px;
    height: 100px;
  }
  .t-cards p {
    font-size: 1.2rem;
  }
  .t-cards .twoofus {
    right: 0;
  }
  iframe {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .typewriter h1 {
    font-size: 2rem;
  }
  .t-cards {
    margin-bottom: 20%;
  }
  .menu {
    height: 75vh;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
